* {
    box-sizing : border-box;
}

body {
    margin: 0px;
    background-color: rgb(12, 255, 158);
}

@font-face {
    font-family: 'androidFont';
    src: url('fontes/idroid.otf'), url('fontes/idroid.ttf');
    font-weight: normal;
    font-style: normal;
}



header {
    background-image: linear-gradient(to top, #1b1b1bd7, #6cd35a);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 30px;
    padding-bottom: 70px;
    font-size: 20px;
    box-shadow: 5px 5px 5px #6f6d6d;
}

#titulo {
    font-size: 43px;
}

#box {
    background-color: white;
    width: 850px;
    height: 1000px;
    position: absolute;
    margin-left: 20%;
    box-shadow: 3px 3px 5px #888888;
    text-align: center;
}

#subtitulo {
    color: rgb(216, 216, 216)
}

#navegacao ul li{
    display: inline-block;
    float: left;
    margin-right: 30px;
    margin-top: 35px;
    
    
}

#navegacao ul li:hover {
    background-color: #05ac0e;
    background-size: 1px;
    
}