/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(47, 47, 47);
  }
  
  h2 {
    padding: 16px 25px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  /* Header styles */
  header {
    background-color: #141414;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #e50914;
  }
  
  .logo img {
    height: 50px;
  }
  
  .user img {
    height: 40px;
    border-radius: 50%;
  }
  
  /* Main styles */
  .banner {
    background-image: url("https://www.themoviedb.org/t/p/w1280/8f2oyrE7AxAIa9oNfcHs6Txveja.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-content {
    max-width: 50%;
    text-align: center;
    color: #fff;
  }
  
  .banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  button {
    padding: 16px 25px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #ff0a16;
  }
  
  .catalogo {
    padding: 60px 20px;
  }
  
  .catalogo h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .filme,
  .serie {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .filme img,
  .serie img {
    width: 100%;
    max-width: 250px;
  }
  